# General
*.py[cod]
__pycache__/
*.db
*.log
*.tar.gz
.env
*.sqlite3

# Django specific
*.log
local_settings.py
db.sqlite3
media/

# Rasa specific
models/*
.rasa/*
!models/.gitkeep
!rasa/actions/__init__.py

# Virtual environment
venv/
ENV/

# Node modules for your front end
node_modules/

# IDE specific settings
.idea/
.vscode/

# Operating System specific files
.DS_Store
Thumbs.db

# Chatbot training data (if you want to keep this out of your repo)
data/nlu/*
data/stories/*

