{% extends 'base.html' %}

{% block content %}
    <h2>Available Vehicles</h2>
    <ul>
        {% for vehicle in available_vehicles %}
            <li>
                {{ vehicle.company.name }} - {{ vehicle }}
                {% if vehicle.image %}
                    <img src="{{ vehicle.image.url }}" alt="{{ vehicle }}" style="max-width: 100px; max-height: 100px;">
                {% else %}
                    <!-- Provide a default image or placeholder if no image is available -->
                    <img src="{% static 'media/car_images/default.jpg' %}" alt="Default Image" style="max-width: 100px; max-height: 100px;">
                {% endif %}
                <a href="{% url 'make_reservation' vehicle.id %}">Reserve</a>
            </li>
        {% endfor %}
    </ul>
    {% if not available_vehicles %}
        <p>No available vehicles at the moment.</p>
    {% endif %}
{% endblock %}